$brand-primary: #15a703;
$background: #ffffff;
$font-family: Open Sans, Helvetica, sans-serif;
$font-heading: Short Stack, Helvetica, sans-serif;
$font-colour: #333333;
$font-body-size: 1rem;
$font-h1: 2rem;
$font-h2: 1.7rem;
$font-h3: 1.5rem;
$font-h4: 1.1rem;
$font-h5: 1rem;
$font-h6: 0.9rem;

//mobile
$screen-xs: 30rem; //480px
$screen-sm: 48rem; //768px

//screen small
$screen-md: 62rem; //992px

//large screen
$screen-lg: 70.3125rem; //1125px

$gutter-width: 1.5rem;
